# Исключение файлов и папок, связанных с IDE
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Исключение файлов сборки
bin/
obj/
out/

# Исключение временных и кэшированных файлов
*.log
*.tmp
*.bak

# Исключение файлов с конфиденциальной информацией
*.env
*.key
*.pem

# Исключение файлов, генерируемых тестовыми фреймворками
test-results/
coverage/

# Исключение системных файлов
Thumbs.db
Desktop.ini
